openapi: 3.2.0
info:
  title: Megaphone Exports API
  description: The Megaphone API lets podcast producers and partners manage podcasts, episodes, and advertising on Megaphone by Spotify - an enterprise podcast hosting, distribution, and ad-monetization platform.
  version: '2.0'
  contact:
    name: Megaphone by Spotify
    url: https://developers.megaphone.fm/
  x-support-email: support-megaphone@spotify.com
servers:
- url: https://cms.megaphone.fm/api
  description: Megaphone API v1 (networks, podcasts, episodes, legacy Direct Sales)
- url: https://cms.megaphone.fm/api/v2
  description: Megaphone Direct Sales API v2 (advertisers, campaigns, orders, assets, advertisements, targeting)
security:
- tokenAuth: []
tags:
- name: Exports
  description: Metrics Export Service and Impressions Export Service (modeled).
paths:
  /metrics_export:
    get:
      operationId: exportMetrics
      tags:
      - Exports
      summary: Export metrics (modeled)
      description: Pull-based bulk export of download and listener metrics via the Metrics Export Service. Path and parameters are modeled from the documented service description.
      parameters:
      - name: start
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: end
        in: query
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: A metrics export payload.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /impressions_export:
    get:
      operationId: exportImpressions
      tags:
      - Exports
      summary: Export ad impressions (modeled)
      description: Pull-based bulk export of ad-impression data via the Impressions Export Service. Path and parameters are modeled from the documented service description.
      parameters:
      - name: start
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: end
        in: query
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: An impressions export payload.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid API token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Per-user API token sent as `Authorization: Token token="<API_TOKEN>"`. Generated on account creation and managed under User Settings; treat as a password and do not reuse across organizations.'
